<mat-card class="mat-card">
  <mat-card-title>AI usage case</mat-card-title>
  <mat-card-subtitle>Where do you plan to use AI?</mat-card-subtitle>
  <!--<img mat-card-image src="../../assets/camunda-cat.png"/>-->
  <mat-card-content>
      <img mat-card-image src="./assets/ai-robot.png" width="100%"/>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="container">
  <!--<img src="../../assets/camunda-cat.png" width="100%"/>-->
  <div class="heading">
  </div>
  <ng-template [ngIf]="0 == submitStage"><div>
  
      <div class="input-container">
          <div>
              <mat-form-field appearance="fill" class="inputfield">
                  <input type="textfield" matInput formControlName="textprompt" />
              </mat-form-field>
          </div>
          <mat-card-actions>
              <button mat-raised-button color="primary" type="submit" class="mat-btn">submit</button>
      </mat-card-actions>
      </div>
  
  </div></ng-template>
  <ng-template [ngIf]="1 == submitStage"><div>
      <!--<button mat-raised-button color="primary" type="submit" class="mat-btn" (click)="loadWordCloud()">load wordcloud</button>-->
      <div class="thankyou">
          <p>Thank you</p>
      </div>
      
  </div></ng-template>
</div>
</form>
</mat-card-content>
</mat-card>